<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
    <ion-title size="large">Página Inicial</ion-title>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="preview">
      <ion-avatar (click)="changeImage()">
        <img alt="avatar" *ngIf="profile?.['imageUrl']; else placeholder_avatar;" [src]="profile?.['imageUrl'] ?? ''"/>
        <ng-template #placeholder_avatar>
          <div class="fallback">
            <p>Select avatar</p>
          </div>
        </ng-template>
      </ion-avatar>  
    </div>
    <br>
    <div id="info">
    <ion-text>{{ usuarios[0].nome }}  </ion-text> <br>
    <ion-text id="email">{{ usuarios[0].email }}</ion-text><br>
    <ion-text id="email">Avaliação: {{ calculateAverageAvaliacao() }}</ion-text>
  </div>
<div id="botoes">

  <ion-button color="red"   routerLink="/editar-conta-usuario">Editar Conta</ion-button><br>
      <ion-button color="red"   routerLink="/catalogo">Catálogo de Barbeiros</ion-button><br>
      <ion-button color="red"    routerLink="/pedidos-pendentes">Pedidos Pendentes</ion-button><br>
      <ion-button color="red" (click)="avaliarBarbeiros()">Avaliar Barbeiro</ion-button>
      <br>  
      <ion-button class="back" color="red" (click)="logout()">
        Log Out
      </ion-button>
    </div>

    <h2 style="text-align:center">CHAMADO FEITO</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let chamado of chamados">
          <ion-card>
            <h1>Corte Desejado</h1>
            <ion-img [src]="chamado.imageUrl" class="image-limit"></ion-img>
            <h2>Corte Atual</h2>
            <ion-img [src]="chamado.corteAtual" class="image-limit"></ion-img>
  

            <ion-card-header>
              <ion-card-title class="nome" *ngIf="chamado.nomeBarbeiro">Barbeiro: {{ chamado.nomeBarbeiro}}</ion-card-title>
              <ion-card-title class="nome" *ngIf="chamado.nomeBarbearia">Barbearia: {{ chamado.nomeBarbearia}}</ion-card-title>
            </ion-card-header>
          </ion-card>
  
          <ion-card>
            <ion-card-content>
              <p>Descrição: {{ chamado.descricao }}</p>
              <p>Email do Cliente: {{ chamado.emailCliente }}</p>

              <p>Local: {{ chamado.local}}</p>


              <p>Local de Atendimento requisitado: {{ chamado.local}}</p>
              <p>Data: {{chamado.data}}</p>
              <p>Horario: {{chamado.hora}}</p>

                
              <ion-button color="red" class="back" *ngIf="chamado.id" (click)="negar(true, chamado.id)">Cancelar Chamado </ion-button>
            
  
  
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</ion-content>
