<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
    <ion-title size="large">Página Inicial</ion-title>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="preview">
      <ion-avatar (click)="changeImage()">
        <img alt="avatar" *ngIf="profile?.['imageUrl']; else placeholder_avatar;" [src]="profile?.['imageUrl'] ?? ''"/>
        <ng-template #placeholder_avatar>
          <div class="fallback">
            <p>Select avatar</p>
          </div>
        </ng-template>
      </ion-avatar>  
    </div>
    <div id="info">
    <ion-text>{{ usuarios[0].nome }}  </ion-text> <br>
    <ion-text id="email">{{ usuarios[0].email }}</ion-text>
  </div>
<div id="botoes">
      <ion-button class="botao" color="red" (click)="logout()">
        Log Out
      </ion-button>

      <br>
    

      <ion-button color="red" routerLink="/catalogo">Catálogo de Barbeiros</ion-button>

      <ion-button  routerLink="/catalogo">Catálogo de Barbeiros</ion-button>
      <ion-button  routerLink="/pedidos-pendentes">Pedidos Pendentes</ion-button>
      <ion-button  routerLink="/pedidos-pendentes">Editar Conta</ion-button>
    </div>
  </ion-content>
</ion-content>
