<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="credentials">


    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email invalido!</ion-note>

    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">Senha invalido!</ion-note>

    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" placeholder="CPF" formControlName="cpf"></ion-input>
      <ion-note slot="error" *ngIf="(cpf?.dirty || cpf?.touched) && cpf?.errors">Senha invalido!</ion-note>

    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" placeholder="Especialidades" formControlName="especialidades"></ion-input>
      <ion-note slot="error" *ngIf="(especialidades?.dirty || especialidades?.touched) && especialidades?.errors">Senha invalido!</ion-note>

    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" placeholder="Nome" formControlName="nome"></ion-input>
      <ion-note slot="error" *ngIf="(nome?.dirty || nome?.touched) && nome?.errors">Senha invalido!</ion-note>

    </ion-item>
    
  
  <ion-item fill="solid" class="ion-margin-bottom">
    <ion-input type="photo" placeholder="foto" formControlName="foto"></ion-input>
    <ion-note slot="error" *ngIf="(foto?.dirty || foto?.touched) && foto?.errors">Senha invalido!</ion-note>

  </ion-item>


<ion-item fill="solid" class="ion-margin-bottom">
  <ion-input type="text" placeholder="Data de Nascimento" formControlName="dataNascimento"></ion-input>
  <ion-note slot="error" *ngIf="(dataNascimento?.dirty || dataNascimento?.touched) && nome?.errors">Senha invalido!</ion-note>

</ion-item>
      <ion-button expand="full"  type="button" (click)="register()">Cadastrar conta</ion-button>
      <ion-button expand="full" href="../login-barbeiro/login-barbeiro.page.html" type="button">Fazer Login</ion-button>
      

  </form>
</ion-content>
