    <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fazer pedido</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Add ngModel directive to bind values to the form controls -->
<ion-content [fullscreen]="true">
  <form [formGroup]="credentials" (ngSubmit)="chamarBabeiro()">

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="text" placeholder="Descreva seu pedido..." formControlName="descricao"></ion-input>
      <ion-note slot="error" *ngIf="(descricao?.dirty || descricao?.touched) && descricao?.errors">
        Descrição inválida (mínimo 10 caracteres)!
      </ion-note>
    </ion-item>

    <!-- Use [(ngModel)] to bind the selected value to the model -->
    <ion-radio-group formControlName="local">
      <ion-radio value="Moradia do Cliente">Em casa</ion-radio><br />
      <ion-radio value="Local de Trabalho">No local de trabalho do Barbeiro</ion-radio><br />
      <ion-note slot="error" *ngIf="(local?.dirty || local?.touched) && local?.errors">
        Local inválido!
      </ion-note>
    </ion-radio-group>

    <ion-button fill="outline" expand="block" id="open-modal" (click)="hideShow()">
      <ion-thumbnail><img src="../../../assets/logos/googleLogo.png"></ion-thumbnail>Foto do corte de cabelo
    </ion-button>

    <!-- Use *ngIf to conditionally display the image -->
    <img *ngIf="isImg" alt="avatar" [src]="imgSrc" class="imgSrc">

    <ion-button expand="full" [disabled]="!credentials.valid" type="submit">Fazer pedido</ion-button>
    <ion-button expand="full" routerLink="/catalogo" >Voltar</ion-button>
    <ion-button expand="full" routerLink="/tab1" >Menu</ion-button>
    <ion-button expand="full" routerLink="/" >Log Out</ion-button>

  </form>
</ion-content>

<ion-modal #modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <ion-content>
      <div class="block">
        <h3>Selecione a imagem do produto</h3>
        <button (click)="hideShow()">Selecione a imagem</button>
        <input id="cadImg" type="file" (change)="carregarFoto($event)" label="Imagem" label-placement="floating"
          fill="solid" placeholder="Selecione a imagem do corte de Cabelo" />

        <div class="images">
          <ion-card *ngFor="let img of images" (click)="selectImage(img, modal)">
            <img [src]="img" />
          </ion-card>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
