    <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fazer pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<form [formGroup]="credentials" (ngSubmit)="chamarBabeiro()">


  <ion-item fill="solid" class="ion-margin-bottom">
    <ion-input type="text" placeholder="Descreva seu pedido..." formControlName="Pedido"></ion-input>
    <ion-note slot="error" *ngIf="(descricao?.dirty || descricao?.touched) && descricao?.errors">Email invalido!</ion-note>
  </ion-item>
    <ion-radio-group value="Em casa" formControlName="Pedido">
      <ion-radio value="Moradia do Cliente">Em casa</ion-radio><br />
      <ion-radio value="Local de Trabalho">No local de trabalho do Barbeiro</ion-radio><br />
      <ion-note slot="error" *ngIf="(descricao?.dirty || descricao?.touched) && descricao?.errors">Email invalido!</ion-note>
    </ion-radio-group>

 
  <ion-avatar (click)="changeImage()">
    <img alt="avatar" *ngIf="chamado?.['imageUrl']; else placeholder_avatar;" [src]="chamado?.['imageUrl'] ?? ''"/>
    <ng-template #placeholder_avatar>
      <div class="fallback">
        <p>Mande uma foto exemplo do corte para o barbeiro</p>
      </div>
      <ion-button expand="full" [disabled]="!credentials.valid" type="submit">Fazer pedido</ion-button>
    </ng-template>
  </ion-avatar>
  </form>
</ion-content>

