#aceitar{
    background-color: #13087F;
    color: #DEAD04;

}


#negar{
    background-color: red;
    color: #DEAD04;
}

#botoes{
    text-align: center;
}
ion-button{
    color: #DEAD04;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #DEAD04;
    background-color: black;
    font-family:fantasy ;
    font-size: 19px;
}