#aceitar{
    background-color: #13087F;
    color: white;
    font-family:fantasy ;
 font-size: 19px;
 border-radius: 12px;
 border: 2px solid white;
}


#negar{
    background-color: red;
    color: white;
    font-family:fantasy ;
 font-size: 19px;
 margin-left: 60px;
 border-radius: 12px;
 border: 2px solid white;
}

#botoes{
    text-align: center;
    
}

.back{
    border: 2px #FF0000 solid;
    color: #ff0000 ;
  border-radius: 15px;
 width: 340px;
 margin-left: 12px;
 font-family:fantasy ;
 font-size: 19px;
}
