<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pedidos requisitados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toast [isOpen]="isToastOpen" message="Pedido negado." [duration]="5000"
(didDismiss)="mensagem(false)"></ion-toast>

<ion-toast [isOpen]="isToastOpen" message="Pedido aceito." [duration]="5000"
(didDismiss)="message(false)"></ion-toast>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let pedido of pedidos">
        <ion-card>
          <ion-img [src]="pedido.imageUrl" class="image-limit"></ion-img>

          <ion-card-header>
            <ion-card-title class="nome">Pedido de {{ pedido.nomeCliente }}</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <p>Descrição: {{ pedido.descricao }}</p>
            <p>Email do Cliente: {{ pedido.emailCliente }}</p>
            <p>Local de Atendimento requisitado: {{ pedido.local}}</p>
            <form [formGroup]="credentials">

              <ion-item fill="solid" class="ion-margin-bottom">
                <ion-input type="text" placeholder="Preço" formControlName="preco"></ion-input>
                <ion-note slot="error" *ngIf="(preco?.dirty || preco?.touched) && preco?.errors">Senha invalido!</ion-note>
          
              </ion-item>

            </form>

          
        
            

            <ion-button color="red" id="aceitar" (click)="aceitarPedido(pedido.imageUrl, pedido.nomeCliente, 
            pedido.emailCliente, pedido.nomeBarbeiro, pedido.emailBarbeiro, pedido.descricao, 
            pedido.local, credentials.value, true, pedido.id)">Aceitar </ion-button>
            <ion-button color="red" id="negar" (click)="negar(true, pedido.id)">Negar </ion-button>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="botoes">
  <ion-button color="red" id="retorno" expand="full"  (click)="returnToMenu()">Menu</ion-button> 

</div>
</ion-content>
