ion-content{
    text-align: center;
}
ion-button{
    color: #DEAD04;
    border-radius: 13px;
    border: 2px solid #DEAD04;
    background-color: black;
    font-family:fantasy ;
    font-size: 19px;
    width: 92%;
  
}
.button1{
    color: black;
    background-color: #DEAD04;
}

h1{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: arial ;

    align-items: center;
    color: white;
}
u{
    
    color: #DEAD04;
}
img{
    height: 350px;
    margin-left: 18px;
}
.botoes{
    text-align: center;
}