

<ion-content [fullscreen]="true">

   
    <img src="https://firebasestorage.googleapis.com/v0/b/icorte-5cc11.appspot.com/o/uploads%2Flogonova-removebg-preview.png?alt=media&token=c1acf140-52bd-41d2-baec-be5f03811713">
<div class="botoes">
    <ion-button class="button1" color="red"  routerLink="/login">Login</ion-button> <!-- Caso os campos email e senha não estejam preenchidos, o botão não funciona --> </div>
    <br>   <u><h1> Não tem conta? </h1></u> <br>
    <div class="botoes">
    <ion-button color="red"  color="red" routerLink="/cadastro">Cadastro Usuário</ion-button><br>
    <ion-button color="red" color="red" routerLink="/cadastro-barbeiro">Cadastro Barbeiro</ion-button><br>
    <ion-button color="red" color="red" routerLink="/cadastro-barbearia">Cadastro Barbearia</ion-button>


</div>

</ion-content>
