<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Icorte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

   
    

    <ion-button class="button1"  expand="full" routerLink="/login">Login</ion-button> <!-- Caso os campos email e senha não estejam preenchidos, o botão não funciona -->
    <br>   <u><h1> Não tem conta? </h1></u> <br>
    <ion-button color="red" expand="full" color="red" routerLink="/cadastro">Cadastro Usuário</ion-button>
    <ion-button color="red" expand="full" color="red" routerLink="/cadastro-barbeiro">Cadastro Barbeiro</ion-button>




</ion-content>
