<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="credentials">

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email invalido!</ion-note>


    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Senha Antiga" formControlName="oldPassword"></ion-input>
      <ion-note slot="error" *ngIf="(oldPassword?.dirty || oldPassword?.touched) && oldPassword?.errors">Senha invalido!</ion-note>

</ion-item>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="password" placeholder="Senha Nova" formControlName="newPassword"></ion-input>
        <ion-note slot="error" *ngIf="(newPassword?.dirty || newPassword?.touched) && newPassword?.errors">Senha invalido!</ion-note>


    </ion-item>
  
    <ion-radio-group formControlName="tipo_cabelo">
      <ion-radio class="checkbox" value="Crespo">Crespo</ion-radio><br />
      <ion-radio class="checkbox" value="Ondulado">Ondulado</ion-radio><br />
      <ion-radio class="checkbox" value="Liso">Liso</ion-radio><br />

      <ion-note slot="error" *ngIf="(tipo_cabelo?.dirty || tipo_cabelo?.touched) && tipo_cabelo?.errors">
        Tipo inválido!
      </ion-note>
    </ion-radio-group>

    <ion-radio-group formControlName="tamanho_cabelo">
      <ion-radio class="checkbox" value="Muito curto">Muito Curto</ion-radio><br />
      <ion-radio class="checkbox" value="Curto">Curto</ion-radio><br />
      <ion-radio class="checkbox" value="Médio">Liso</ion-radio><br />
      <ion-radio class="checkbox" value="Longo">Liso</ion-radio><br />
      <ion-radio class="checkbox" value="Muito longo">Liso</ion-radio><br />

      <ion-note slot="error" *ngIf="(tamanho_cabelo?.dirty || tamanho_cabelo?.touched) && tamanho_cabelo?.errors">
        Tamanho inválido!
      </ion-note>
    </ion-radio-group>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="endereco" placeholder="Endereco" formControlName="endereco"></ion-input>
      <ion-note slot="error" *ngIf="(endereco?.dirty || endereco?.touched) && endereco?.errors">Endereco invalido!</ion-note>

    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="nome" placeholder="Nome" formControlName="nome"></ion-input>
      <ion-note slot="error" *ngIf="(nome?.dirty || nome?.touched) && nome?.errors">Nome invalido!</ion-note>

    </ion-item>
 
    <ion-button color="red" expand="full" type="button" (click)="editarPerfil(credentials.value)" [disabled]="!credentials.valid">Editar Perfil</ion-button>   
    <ion-button color="red" expand="full" routerLink="/tab1">Voltar</ion-button>
 
     

  </form>
</ion-content>
