<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="credentials">

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email invalido!</ion-note>


    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Senha Antiga" formControlName="oldPassword"></ion-input>
      <ion-note slot="error" *ngIf="(oldPassword?.dirty || oldPassword?.touched) && oldPassword?.errors">Senha invalido!</ion-note>

</ion-item>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="password" placeholder="Senha Antiga" formControlName="newPassword"></ion-input>
        <ion-note slot="error" *ngIf="(newPassword?.dirty || newPassword?.touched) && newPassword?.errors">Senha invalido!</ion-note>


    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="cpf" placeholder="CPF" formControlName="cpf"></ion-input>
      <ion-note slot="error" *ngIf="(cpf?.dirty || cpf?.touched) && cpf?.errors">CPF invalido!</ion-note>

    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="endereco" placeholder="Endereco" formControlName="endereco"></ion-input>
      <ion-note slot="error" *ngIf="(endereco?.dirty || endereco?.touched) && endereco?.errors">Endereco invalido!</ion-note>

    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="nome" placeholder="Nome" formControlName="nome"></ion-input>
      <ion-note slot="error" *ngIf="(nome?.dirty || nome?.touched) && nome?.errors">Nome invalido!</ion-note>

    </ion-item>
 
    <ion-button expand="full" type="button" (click)="editarPerfil(credentials.value)" [disabled]="!credentials.valid">Editar Perfil</ion-button>   
     
 
     

  </form>
</ion-content>
