<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="credentials">

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email inválido!</ion-note>
    </ion-item>


  
    <h2>Tipo de Cabelo</h2>
    <ion-radio-group formControlName="tipo_cabelo" class="radio-group-horizontal">
      <ion-row>
        <ion-col size="auto">
          <ion-item lines="none">
            <ion-radio value="Crespo"></ion-radio>
            <ion-label>Crespo</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="auto">
          <ion-item lines="none">
            <ion-radio value="Ondulado"></ion-radio>
            <ion-label>Ondulado</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="auto">
          <ion-item lines="none">
            <ion-radio value="Liso"></ion-radio>
            <ion-label>Liso</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-note slot="error" *ngIf="(tipo_cabelo?.dirty || tipo_cabelo?.touched) && tipo_cabelo?.errors">
        Tipo inválido!
      </ion-note>
    </ion-radio-group>

    <h2>Tamanho de Cabelo</h2>
    <ion-radio-group formControlName="tamanho_cabelo" class="radio-group-horizontal">
      <ion-row>
        <ion-col size="auto">
          <ion-item lines="none">
            <ion-radio value="Curto"></ion-radio>
            <ion-label>Curto</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="auto">
          <ion-item lines="none">
            <ion-radio value="Médio"></ion-radio>
            <ion-label>Médio</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="auto">
          <ion-item lines="none">
            <ion-radio value="Longo"></ion-radio>
            <ion-label>Longo</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <br>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="endereco" placeholder="Endereco" formControlName="endereco"></ion-input>
      <ion-note slot="error" *ngIf="(endereco?.dirty || endereco?.touched) && endereco?.errors">Endereco inválido!</ion-note>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="nome" placeholder="Nome" formControlName="nome"></ion-input>
      <ion-note slot="error" *ngIf="(nome?.dirty || nome?.touched) && nome?.errors">Nome inválido!</ion-note>
    </ion-item>
 
    <ion-button color="red" expand="full" type="button" (click)="editarPerfil(credentials.value)" [disabled]="!credentials.valid">Editar Perfil</ion-button>   
    <ion-button color="red" class="back" expand="full"routerLink="/tab1">Voltar</ion-button>
  </form>
</ion-content>