#botoes{
    text-align: center;
*{
    margin-left: 12px;
    margin-right: 8px;
}}

.back{
    border: 2px #FF0000 solid;
    color: #ff0000 ;
  border-radius: 15px;
 width: 340px;
 margin-left: 30px;
 font-family:fantasy ;
 font-size: 19px;
}
