<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pedidos Pendentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toast [isOpen]="isToastOpen" message="Pedido pago." [duration]="5000"
(didDismiss)="pago(false)"></ion-toast>
<ion-toast [isOpen]="isToastOpen" message="Pedido completo." [duration]="5000"
(didDismiss)="confirma(false)"></ion-toast>
<ion-toast [isOpen]="isToastOpen" message="Pague o pedido antes de confirmar o recebimento dele!." [duration]="5000"
(didDismiss)="mensagem(false)"></ion-toast>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let pedido of pedidos">
        <ion-card>
          <ion-img [src]="pedido.imageUrl" class="image-limit"></ion-img>

          <ion-card-header>
            <ion-card-title class="nome">Barbeiro: {{ pedido.nomeBarbeiro }}</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <p>Descrição: {{ pedido.descricao }}</p>
            <p>Preço: R${{ pedido.preco * 1.3}}</p>
            <p>Local de Atendimento requisitado: {{ pedido.local}}</p>

         

            <ion-button color="red" id="negar" (click)="pagarPedido(true)" >Pagar </ion-button>

            <ion-button color="red" id="negar" (click)="confirmarPedido(pedido.imageUrl, pedido.nomeCliente,
             pedido.emailCliente, pedido.cpfCliente,
            pedido.nomeBarbeiro, pedido.emailBarbeiro, pedido.hora, pedido.data, pedido.descricao, pedido.local, pedido.preco, pedido.cpfBarbeiro,
            true, pedido.id)" >Confirmar Serviço Completo </ion-button>
            <ion-button color="red" class="back" id="negar" *ngIf="pedido.id" (click)="cancelarPedido(true, pedido.id)">Cancelar Pedido </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let pedidoBarbearia of pedidosBarbearia">
        <ion-card>
          <ion-img [src]="pedidoBarbearia.imageUrl" class="image-limit"></ion-img>

          <ion-card-header>
            <ion-card-title class="nome">Barbeiro: {{ pedidoBarbearia.nomeBarbeiro }}</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <p>Descrição: {{ pedidoBarbearia.descricao }}</p>
            <p>Preço: R${{ pedidoBarbearia.preco * 1.3}}</p>
            <p>Local de Atendimento requisitado: {{ pedidoBarbearia.local}}</p>

         

            <ion-button color="red" id="negar" (click)="pagarPedidoBarbearia(true)" >Pagar </ion-button>

            <ion-button color="red" id="negar" (click)="confirmarPedidoBarbearia(pedidoBarbearia.imageUrl, pedidoBarbearia.nomeCliente,
             pedidoBarbearia.emailCliente, pedidoBarbearia.cpfCliente,
            pedidoBarbearia.nomeBarbearia, pedidoBarbearia.emailBarbearia, pedidoBarbearia.hora, pedidoBarbearia.data, pedidoBarbearia.descricao, pedidoBarbearia.local,
             pedidoBarbearia.preco, pedidoBarbearia.cep,
            true, pedidoBarbearia.id)" >Confirmar Serviço Completo </ion-button>
            <ion-button color="red" class="back" id="negar" *ngIf="pedidoBarbearia.id" (click)="cancelarPedido(true, pedidoBarbearia.id)">Cancelar pedidoBarbearia </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button color="red" id="retorno" class="back" (click)="returnToMenu()">Voltar</ion-button> <br>

 
</ion-content>
