<ion-content>
  <ion-header>
    <ion-toolbar>


      <ion-title class="ion-text-center">Catálogo Icorte</ion-title>
      
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let barbeiro of barbeiros">
        <ion-card>
          <ion-img [src]="barbeiro.foto" class="image-limit"></ion-img>

          <ion-card-header>
            <ion-card-title class="nome">{{ barbeiro.nome }}</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <p>Email: {{ barbeiro.email }}</p>
            <p>Especialidades: {{ barbeiro.especialidades }}</p>
            <p>Local de Trabalho: {{ barbeiro.local_trabalho }}</p>

            <ion-button id="chamar" color="red" (click)="chamarBarbeiro(barbeiro.email, barbeiro.nome)">Chamar</ion-button>



           
        
            

            <ion-button id="chamar" (click)="chamarBarbeiro(barbeiro.email, barbeiro.nome)">Chamar</ion-button>

          

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div id="botoes">
  <ion-button id="retorno" expand="full" (click)="returnToMenu()">Menu</ion-button> <br>
 
</div>
</ion-content>
