ion-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
#botoes{
    margin-top: 208%;
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;

}

#retorno{
    width: 150px;
    text-align: center;
}

ion-button{
    color: #DEAD04;
    border-radius: 13px;
    border: 2px solid #DEAD04;
    background-color: black;
    font-family:fantasy ;
    font-size: 19px;
    width: 338px;
   margin-left: 12px;
}
.button1{
    color: black;
    background-color: #DEAD04;
}
.back{
    border: 2px #FF0000 solid;
    color: #ff0000 ;
    width: 240px;
}
#chamar{
    margin-left: -10px;
    width: 300px;
    margin-top: 5px;
    font-size: 22px;
}
