ion-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
#botoes{
    text-align: center;
}

#retorno{
    width: 150px;
    text-align: center;
}

ion-button{
    color: #DEAD04;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #DEAD04;
    background-color: black;
    font-family:fantasy ;
    font-size: 19px;
}