#botoes{
    text-align: center;
}
ion-button{
    color: #DEAD04;
    border-radius: 13px;
    border: 2px solid #DEAD04;
    background-color: black;
    font-family:fantasy ;
    font-size: 19px;
    width: 92%;
   margin-right: 3%;
}

.back{
    border: 2px #FF0000 solid;
    color: #ff0000 ;
    margin-left: 5vw;
}