#botoes{
    text-align: center;
}
ion-button{
    color: #DEAD04;
    border-radius: 15px;
    border: 2px solid #DEAD04;
    background-color: black;
    font-family:fantasy ;
    font-size: 19px;
    width: 250px;
    margin-right: 10px;
     
}

.back{
    border: 2px #FF0000 solid;
    color: #ff0000 ;
    margin-left: 27px;
    width: 310px;
}