<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
    <ion-title size="large">Página Inicial Barbeiro</ion-title>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="preview">
      <ion-avatar (click)="changeImage()">
        <img alt="avatar" *ngIf="profile?.['imageUrl']; else placeholder_avatar;" [src]="profile?.['imageUrl'] ?? ''"/>
        <ng-template #placeholder_avatar>
          <div class="fallback">
            <p>Select avatar</p>
          </div>
        </ng-template>
      </ion-avatar>
     
    </div>
    <div id="info">
    <ion-text>{{ barbeiros[0].nome }}  </ion-text> <br>
    <ion-text id="email">{{ barbeiros[0].email }}</ion-text><br>
    <ion-text id="email">{{ barbeiros[0].especialidades }}</ion-text>
  </div>
<div id="botoes">
      <ion-button color="red" class="botao" (click)="logout()">
        Log Out
      </ion-button>

      <br>
    
      <ion-button color="red" class="botao" routerLink="/pedidos" routerDirection="forward">
        Pedidos
      </ion-button>
      <ion-button color="red" class="botao" routerLink="/editar-conta-barbeiro" routerDirection="forward">
        Editar Conta
      </ion-button>
    </div>
  </ion-content>
</ion-content>
